<div class="container-page">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.gastronomico.fr/wp-content/uploads/2017/10/photo-cocktail-canchanchara.jpg);">
    <div class="container-banner">
      <h1><strong>Mr. Cocktail</strong></h1>
      <p>by Dourtealacreme</p>
    </div>
  </div>

  <div class="all-cocktails">
    <% @cocktails.each do |cocktail| %>
      <%  if cocktail.photo.attached? %>
        <div class="card-cocktail">
          <%= cl_image_tag cocktail.photo.key, height: 300, width: 400, crop: :fill %>
          <div class="card-cocktail-infos">
              <li><%= link_to cocktail.name, cocktail_path(cocktail) %> </li>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="add-new-cocktail">
    <%= link_to "Add a new cocktail", new_cocktail_path, class: 'btn-add-new-cocktail' %>
  </div>
</div>
