// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";



.banner {
  background-size: cover;
  background-position: center;
  padding: 300px 0;
  height: 100vh;
  justify-content: center;
  margin-bottom: 10px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.container-banner {
  margin: 0 20px;
}

.all-cocktails {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 10px;
}

@media(max-width: 992px) {
  .all-cocktails {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .all-cocktails {
    grid-template-columns: 1fr;
  }
}

.card-cocktail-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  margin: 10px 0;

  & a {
    text-decoration: none;
    color: #4A4A4A;
  }
}

.card-cocktail-infos:hover {
  border: 1px solid black;
}

.card-cocktail-infos a:hover {
  color: black;
}

.card-cocktail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#card-image {
  max-width: 30vh;
}

li {
  list-style-type: none;
}

.add-new-cocktail {
  text-align: center;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;

  & a {
    text-decoration: none;
    color: #4A4A4A;
  }
}

.add-new-cocktail-infos:hover {
  border: 1px solid black;
}

.add-new-cocktail a:hover {
  color: black;
}
.container-page {
  background-color: #E3E4DB;
}
